<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org//1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       layout:decorate="~{fragments/layout-simples.html}"> 
    <head>
    </head>
    <body>
        <h1>Servidor está online!!</h1>
        <div>Ir para a aplicação: <a href="/cursos/index" class="btn btn-primary"><button>Redirecionamento</button></a></div>
    </body>
</html>
